<section>
  <h1>I Shop At</h1>
  <p><a href="http://amzn.to/Nmb7fQ" title="Using this link before shopping at Amazon.com supports this site"><img style="display:block;margin:10px auto 0;text-align:center;border: none;" src="http://thegalleryis.goingthewongway.com/var/albums/Blog-Pictures/Ad/amz.gif?m=1341082500" alt="Amazon logo" width="165" height="47"/></a>
  </p>
  <p><a href="http://bhpho.to/OOjxMp" title="Using this link before shopping at B&amp;H Photo supports this site"><img style="display:block;margin:10px auto 0;text-align:center;border: none;" src="http://thegalleryis.goingthewongway.com/var/albums/Blog-Pictures/Ad/bh.gif?m=1341082501" alt="B&amp;H Photo logo" width="125" height="86"/></a>
  </p>
</section>
