<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/galleria/1.3.5/galleria.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/jquery.colorbox-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.wookmark/1.3.1/jquery.wookmark.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(
        function(){
                if(jQuery('.galleria')[0]){
                        jQuery('.galleria,.galleria_container').css('height',600);
                        Galleria.loadTheme('//cdnjs.cloudflare.com/ajax/libs/galleria/1.3.5/themes/classic/galleria.classic.min.js');
                        Galleria.run('.galleria',{lightbox:true,showInfo:true});
                }
        }
);
jQuery(document).ready(function () {
    var container = jQuery('#wookmark');
    if (container.length) {
        var items = jQuery('#tiles li');
        jQuery('a', items).addClass('gal').colorbox({
            rel:'gal',
            maxWidth:'80%',
            maxHeight:'90%'
        });
        jQuery('#tiles').imagesLoaded(function(){
            items.wookmark({
                autoResize:true,
                container:container,
                offset:4,
                itemWidth:200
            });
            container.fadeIn();
        });
    }
});
</script>
<script src="//goingthewongway.disqus.com/{% if page.comments == true %}embed.js{% else %}count.js{% endif %}" async></script>
<script> a("http://www.statcounter.com/counter/counter.js");</script><noscript><div class="statcounter"><img class="statcounter" src="http://c.statcounter.com/2375202/0/1b55b1d6/1/" alt="hit"/></div></noscript>
