<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/galleria/1.2.8/galleria.min.js"></script>
<script>setTimeout(function(){if((screen.width<480)||(screen.height<480)){$('#header_logo').addClass('small');}},100);</script>
<script src="{{ root_url }}/javascripts/all.js" type="text/javascript"></script>
<script src="//goingthewongway.disqus.com/{% if page.comments == true %}embed.js{% else %}count.js{% endif %}" async></script>
<script>
  a("http://www.statcounter.com/counter/counter.js");
</script><noscript><div class="statcounter"><img class="statcounter" src="http://c.statcounter.com/2375202/0/1b55b1d6/1/" alt="hit"/></div></noscript>
