{% comment %} // Just using Lucida Sans Unicode since it's built-in
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css"> {% endcomment %}
{% comment %} Customized javascript to merge Google Analytics, Disqus, and Statcounter code {% endcomment %}
<script>
  var _gaq=[["_setAccount","{{ site.google_analytics_tracking_id }}"],["_trackPageview"]],
  disqus_shortname="{{ site.disqus_short_name }}",{% if page.comments == true %}disqus_identifier="{{ site.url }}{{ page.url }}",{% endif %}
  sc_project=2375202,sc_invisible=1,sc_security="1b55b1d6";
  function a(b){
    var c=document,d=c.createElement("script");d.async=true;d.src=b;c.getElementsByTagName('head')[0].appendChild(d);}
  a("//www.google-analytics.com/ga.js");
</script>
