// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$galleria: true;

@if $galleria {
	// Remove shadow box for galleria pictures
	.galleria-container img {
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
	.galleria {
		margin: 15px 0;
	}
}

sub, sup {
	line-height: 1.1;
}

@if $indented-lists {
	ul, ul ul, ul ol, ol, ol ul, ol ol {
		margin-left: 2em;
	}
}

#content .blog-index article h1, h1.entry-title {
	font-size: 1.5em;
}

html {
	background: $page-bg;
}

/* Adjust margins */
article header {
	margin-top: 0;
	margin-bottom: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.7em;
}

p {
	margin-bottom: 0;
	margin-top: 1em;
}

ul, ol {
	margin-top: 0.5em;
}

ol ul, ol ol, ul ul, ul ol {
        margin-top: 0;
        margin-bottom: 0;
}
figure.code {
	margin: 0.7em 0;
}

/* Use custom logo instead of plain text */
#header_logo {
	background: url("http://img.gtww.net/static/header_89ko.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	z-index: 10;
}

#header_logo a {
	background-color: transparent;
	border: none;
	display: block;
	height: 100%;
	overflow: hidden;
	text-indent: -100em;
	width: 100%;
}

header[role="banner"] h1, header[role="banner"] {
	height: 100px;
	min-width: 470px;
	width: 470px;
}

header[role="banner"] {
	padding: 10px 0 15px 40px;
}

/* Reduce footer size */
footer[role="contentinfo"] {
	margin: 0 0 10px;
}

/* Round the top corners */
body > nav[role="navigation"] {
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

/* Use same font for headings */
.heading, body > header h1, h1, h2, h3, h4, h5, h6 {
	font-family: $sans	
}
