// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Remove shadow box for galleria pictures
.galleria-container img {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

ol ul,
ol ol,
ul ul,
ul ol {
	margin-top: 0;
	margin-bottom: 0;
}
